nav {
  background-image: url("/spekti/logo/logo.svg");
  background-repeat: no-repeat;
  background-position-x: -6px;
  background-position-y: 1px;
}
nav h2 {
  margin-left: 2rem;
}
.spinner-grow {
  display: block;
  position: absolute;
  top: calc(50vh - 5rem);
  left: calc(50vw - 5rem);
  width: 10rem;
  height: 10rem;
}
.sticky-top {
  top: -2px;
}
.inline li {
  display: inline;
  list-style: none outside;
}
.btn svg {
  width: 24px;
  height: 24px;
  fill: white;
}
.sources .badge {
  border: 1px solid var(--danger);
}
.sources .badge:hover {
  background: var(--danger);
  cursor: pointer;
}
.sources .badge svg {
  width: 16px;
  height: 16px;
  fill: var(--danger);
}
.sources .badge:hover svg {
  fill: var(--white);
}
.list-group .badge svg {
  width: 16px;
  height: 16px;
}
.list-group .badge:hover {
  cursor: pointer;
}
.list-group .badge:hover svg {
  fill: var(--white);
}
.badge-source svg {
  fill: var(--primary);
}
.badge-delete svg {
  fill: var(--danger);
}
.badge-edit svg {
  fill: var(--warning);
}
.badge-source {
  border: 1px solid var(--primary);
}
.badge-delete {
  border: 1px solid var(--danger);
}
.badge-edit {
  border: 1px solid var(--warning);
}
.badge-source:hover {
  background: var(--primary);
}
.badge-delete:hover {
  background: var(--danger);
}
.badge-edit:hover {
  background: var(--warning);
}
.btn-outline-info svg {
  fill: var(--info);
}
.btn-outline-secondary svg {
  fill: var(--secondary);
}
.btn:hover svg {
  fill: white;
}
a {
  color: var(--info);
}
a:hover {
  color: #138496;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity 0.2s linear;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
.fade-enter-to, .fade-leave {
  opacity: 1;
}
.modal-backdrop {
  opacity: 0.5;
}
.modal-title::first-letter {
  text-transform: capitalize;
}
.modal-footer input, .card-footer textarea {
  width: 80%;
}
@media (min-width: 576px) {
  .card-columns {
    column-count: 2;
  }
}
@media (min-width: 768px) {
  .card-columns {
    column-count: 2;
  }
}
@media (min-width: 992px) {
  .card-columns {
    column-count: 3;
  }
}
@media (min-width: 1200px) {
  .card-columns {
    column-count: 4;
  }
}
.card .spinner-grow {
  display: block;
  position: relative;
  width: 5rem;
  height: 5rem;
  top: initial;
}
#close {
  position: fixed;
  bottom: 3.4rem;
  right: 3rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: white;
}
.card-body img, .card-body iframe {
  display: block;
  margin: auto;
  max-width: 100%;
}
.tagbar {
  top: calc(4rem - 3px);
  background: #f7f7f7;
}
button .hover {
  display: none;
}
button:hover .hover {
  display: block;
}
button .regular {
  display: block;
}
button:hover .regular {
  display: none;
}
.hidden {
  visibility: hidden;
}
